<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #e0ad40"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/imgs/applogo.png" alt="Imagem" class="logoapp" />
    <ion-buttons slot="end">
      <ion-button (click)="mostrarCaixaDuvida()">
        <ion-icon name="help" style="color: #e0ad40"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map" style="height: 100%"></div>
  <ion-item>
    <ion-input label="Origem" [(ngModel)]="origin"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Destino" [(ngModel)]="destination"></ion-input>
  </ion-item>
  <ion-button (click)="calculateAndDisplayRoute()">Calcular Rota</ion-button>
</ion-content>
