<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #09136b"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/imgs/applogo.png" alt="Imagem" class="logoapp" />
    <ion-buttons slot="end">
      <ion-button (click)="mostrarCaixaDuvida()">
        <ion-icon name="help" style="color: #09136b"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Ponto de Partida</ion-label>
    <ion-input
      id="origin-input"
      [(ngModel)]="origin"
      (ionInput)="onInputChange('origin', $event)"
      clearInput
    ></ion-input>
  </ion-item>
  <div id="origin-suggestions" class="suggestions"></div>

  <ion-item>
    <ion-label position="floating">Destino</ion-label>
    <ion-input
      id="destination-input"
      [(ngModel)]="destination"
      (ionInput)="onInputChange('destination', $event)"
      clearInput
    ></ion-input>
  </ion-item>
  <div id="destination-suggestions" class="suggestions"></div>

  <ion-button expand="full" (click)="calculateAndDisplayRoute()"
    >Traçar Rota</ion-button
  >

  <div id="map" style="height: 100vh"></div>

  <ion-list>
    <ion-item *ngFor="let weather of weatherData">
      <ion-label>
        {{ weather.location.name }}: {{ weather.current.weather_descriptions[0]
        }}, Temp: {{ weather.current.temperature }}°C
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
