.logoapp {
    display: block;
    margin: 0 auto; 
    max-height: 50px; 
  }
 
  .custom-toolbar {
    --background: #e0ad40; 
    --ion-color-base: #e0ad40; 
    border: 1px solid black;
    box-shadow:#000000;
  }
 
  