<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #e0ad40"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/imgs/applogo.png" alt="Imagem" class="logoapp">
    <ion-buttons slot="end">
      <ion-button (click)="mostrarCaixaDuvida()">
        <ion-icon name="help" style="color: #e0ad40"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Campo de entrada para ponto de partida -->
  <ion-item>
    <ion-label position="floating">Ponto de Partida</ion-label>
    <ion-input [(ngModel)]="startPoint"></ion-input>
  </ion-item>

  <!-- Campo de entrada para destino -->
  <ion-item>
    <ion-label position="floating">Destino</ion-label>
    <ion-input [(ngModel)]="endPoint"></ion-input>
  </ion-item>

  <!-- Mapa -->
  <div id="map" style="height: 400px"></div>
  <!-- Ajuste a altura conforme necessário -->
</ion-content>
