<ion-content [fullscreen]="true">
  <ion-header>
    <div class="logo-login">
      <img src="../../assets/imgs/logo_2.png" />
    </div>
    <h1 class="titulo">ClimaVia</h1>
    <h3 class="subtitulo">Realize o login para acessar o app.</h3>
  </ion-header>

  <form>
    <div class="ion-padding">
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input class="input" placeholder="Usuário"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="key-outline"></ion-icon>
        <ion-input
          class="input"
          placeholder="Senha"
          type="{{ showPassword ? 'text' : 'password' }}"
        ></ion-input>

        <ion-button
          (click)="togglePasswordVisibility()"
          expand="full"
          color="warning"
        >
          <ion-icon
            [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
          ></ion-icon>
        </ion-button>
      </ion-item>
      
        <ion-button class="entrar" expand="full" type="submit">Entrar</ion-button>
      
    </div>
    <div class="esqueceusenha">
      <a [routerLink]="['/reset']" style="color: #e0ad40"
        >Esqueceu sua senha?</a
      >
    </div>
    <div class="registro">
      <p>
        Ainda não tem conta?
        <a [routerLink]="['/registro']" style="color: #e0ad40">Crie aqui!</a>
      </p>
    </div>
  </form>

  <ion-button
    class="back-button"
    routerLink="/home"
    fill="solid"
    color="warning"
    slot="fixed"
  >
    <ion-icon name="arrow-back" color="light"></ion-icon>
  </ion-button>
</ion-content>
