<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #09136b"></ion-menu-button>
    </ion-buttons>
    <div class="header-logo-container">
      <img src="../../assets/imgs/applogo.png" alt="Imagem" class="logoapp" />
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="mostrarCaixaDuvida()">
        <ion-icon name="help" style="color: #09136b"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  class="ion-padding"
  scroll-y="true"
  scroll-x="false"
  overflow-scroll="true"
  fullscreen="true"
>
  <div class="content-wrapper">
    <h1 class="tipesq">Créditos do Projeto</h1>

    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-item class="credit-item" lines="none">
            <ion-label class="credit-label">
              <p>Aluna: Gil</p>
              <ion-img
                src="../../assets/imgs/gilft.jpg"
                class="profile-pic"
              ></ion-img>
              <p class="description">
                Gil Guimarães, responsável pela maioria das funções em
                Typescript. Além de levar em consideração as melhorias sugeridas
                pelo colega de projeto.
              </p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-item class="credit-item" lines="none">
            <ion-label class="credit-label">
              <p>Aluno: Arthur</p>
              <ion-img
                src="../../assets/imgs/arthurft.jpg"
                class="profile-pic"
              ></ion-img>
              <p class="description">
                Arthur Buçard, responsável pela identidade do app. Liderando a
                parte criativa e sugerindo melhorias de funcionamento das
                principais funções do app.
              </p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-item class="credit-item" lines="none">
            <ion-label class="credit-label">
              <ion-img
                src="../../assets/imgs/brat.jpg"
                class="profile-pic"
              ></ion-img>
              <ion-img
                src="../../assets/imgs/brat2.jpg"
                class="profile-pic"
              ></ion-img>
              <p class="description">
                E esse foi o nosso projeto, esperamos que tenham gostado. Esse é
                o nosso jeitinho brat de ser.
              </p>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
