<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #e0ad40"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/imgs/applogo.png" alt="Imagem" class="logoapp">
    <ion-buttons slot="end">
      <ion-button (click)="mostrarCaixaDuvida()">
        <ion-icon name="help" style="color: #e0ad40"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <h1 class="tipesq">ClimaVia</h1>
  </div>
  <div class="intro-content">
    <img src="../../assets/imgs/logo_2.png" alt="Imagem Introdução" class="logo2">
    <p class="intro-text">Descubra a previsão atual da cidade que deseja:</p>
  </div>

  <ion-searchbar
    placeholder="Pesquise o local"
    [(ngModel)]="cidade"
    (ionChange)="pesquisarPrevisao()"
    (ionClear)="limparPrevisao()"
  >
  </ion-searchbar>

  <div *ngIf="previsaoDia">
    <h2>Previsão Meteorológica para {{ cidade }}</h2>
    <p>{{ previsaoDia }}</p>
  </div>

  <div *ngIf="previsaoHorarios.length > 0">
    <h3>Previsão por Horários:</h3>
    <ion-list>
      <ion-item *ngFor="let horario of previsaoHorarios">
        <ion-label>{{ horario.hora }}</ion-label>
        <ion-note slot="end"
          >{{ horario.descricao }}, {{ horario.temperatura }}°C</ion-note
        >
      </ion-item>
    </ion-list>
  </div>

</ion-content>
