<ion-app>
  <ion-split-pane contentId="main-content" *ngIf="showMenu">
    <ion-menu
      class="custom-menu"
      side="start"
      menuId="main-menu"
      contentId="main-content"
      (ionDidOpen)="mostrarBotaoFechar()"
      (ionDidClose)="ocultarBotaoFechar()"
    >
      <ion-header>
        <ion-toolbar class="custom-toolbar">
          <ion-title style="color: #ffff">Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-item *ngIf="username$ | async as user">
            <div class="greeting-box">
              <p class="greeting">Olá, {{ user }}!</p>
            </div>
          </ion-item>
          <ion-item routerLink="/feed-infinito" (click)="fecharMenu()">Home</ion-item>
          <ion-item routerLink="/pesquisa" (click)="fecharMenu()">Pesquisa</ion-item>
          <ion-item routerLink="/mapa" (click)="fecharMenu()">Mapa</ion-item>
          <ion-item routerLink="/creditos" (click)="fecharMenu()">Créditos</ion-item>
        </ion-list>
      </ion-content>
      <ion-footer>
        <div class="logout-container">
          <ion-button expand="block" (click)="logout()">Sair</ion-button>
        </div>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>

  <ion-router-outlet id="main-content" *ngIf="!showMenu"></ion-router-outlet>
</ion-app>
