<ion-content [fullscreen]="true">
  <ion-header>
    <div class="logo-login">
      <img src="../../assets/imgs/logo_2.png" />
    </div>
    <h1 class="titulo">ClimaVia</h1>
    <h3 class="subtitulo">Insira seu e-mail para recuperar sua senha.</h3>
  </ion-header>

  <form (ngSubmit)="resetPassword()">
    <div class="ion-padding">
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input
          type="email"
          class="input"
          placeholder="E-mail"
          [(ngModel)]="email"
        ></ion-input>
      </ion-item>
      <ion-button class="entrar" expand="full" type="submit">Enviar</ion-button>
    </div>
  </form>

  <ion-button
    class="back-button"
    routerLink="/login"
    fill="solid"
    color="warning"
    slot="fixed"
  >
    <ion-icon name="arrow-back" color="light"></ion-icon>
  </ion-button>
</ion-content>
