ion-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-card:hover {
  transform: scale(1.05);
}

ion-card img {
  width: 100%;
  height: auto;
}

ion-card-title {
  font-size: 1.2em;
}

ion-card-content {
  flex-grow: 1;
}

@media (min-width: 576px) {
  ion-col {
    --ion-grid-column-padding: 10px;
  }
}


