<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button style="color: #e0ad40"></ion-menu-button>
    </ion-buttons>
    <img src="../../assets/imgs/applogo.png" alt="Imagem" class="logoapp">
    <ion-buttons slot="end">
      <ion-button (click)="mostrarCaixaDuvida()">
        <ion-icon name="help" style="color: #e0ad40"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshNews($event)">
    <ion-refresher-content refreshingSpinner="circles"></ion-refresher-content>
  </ion-refresher>
  <div>
    <h1 class="tifeed">ClimaVia</h1>
  </div>
  <div class="intro-content">
    <img src="../../assets/imgs/logo_2.png" alt="Imagem Introdução" class="logo2">
    <p class="intro-text">Confira as últimas notícias sobre Metereologia abaixo:</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="6"
        size-lg="4"
        *ngFor="let article of articles"
      >
        <ion-card (click)="openArticle(article)">
          <img [src]="article.urlToImage" *ngIf="article.urlToImage" />
          <ion-card-header>
            <ion-card-title>{{ article.title }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>{{ article.description }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando mais notícias..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
