ion-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-card:hover {
  transform: scale(1.05);
}

ion-card img {
  width: 100%;
  height: auto;
}

ion-card-title {
  font-size: 1.2em;
}

ion-card-content {
  flex-grow: 1;
}

@media (min-width: 576px) {
  ion-col {
    --ion-grid-column-padding: 10px;
  }
}
.caixa-duvida {
  .alert-wrapper {
    bottom: 60px; /* Ajuste a distância do topo conforme necessário */
    left: unset;
    right: 10px; /* Ajuste a distância da borda direita conforme necessário */
    top:100px;
  }
}

.logoapp {
  display: block;
  margin: 0 auto; /* Centraliza horizontalmente */
  max-height: 50px; /* Ajuste conforme necessário */
}

.intro-content {
  text-align: center;
  padding: 16px;
}

.logo2 {
  width: 100%; /* Ajusta a largura da imagem para 100% do contêiner */
  max-width: 800px; /* Limita a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
  margin-bottom: 8px;
}

.intro-text {
  font-size: 23px;
  color: black;
}



