<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="voltarParaHome()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Previsões do Tempo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group *ngFor="let cidade of previsoesCidades">
      <ion-item-divider (click)="toggleExpansao(cidade)">
        {{ cidade.cidade }}
        <ion-icon slot="end" [name]="cidade.expandido ? 'chevron-up' : 'chevron-down'"></ion-icon>
      </ion-item-divider>
      <ion-item *ngIf="cidade.expandido">
        <ion-list>
          <ion-item *ngFor="let previsao of cidade.previsoes" class="previsao-item">
            <ion-label class="previsao-info">
              <div class="info-label">Data:</div>
              <div class="data-label">{{ previsao.dt_txt }}</div>
              <div class="info-label">Previsão:</div>
              <div class="info-value previsao-value">{{ previsao.main.temp }}°C  {{ previsao.weather[0].description }}</div>
            </ion-label>
          </ion-item>
                                            
        </ion-list>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
