/* feed-infinito.page.scss */

.previsao-info {
    display: grid;
    grid-template-columns: auto auto; /* Define duas colunas de largura automática */
    grid-gap: 10px; /* Adiciona um espaço entre as colunas */
  }
  
  .info-label {
    font-weight: bold; /* Adiciona negrito à label */
  }
  /* feed-infinito.page.scss */

.data-label {
    margin-left: -35px; /* Adiciona um espaço entre a data e o próximo label */
  }
  .previsao-value {
    margin-left: -3px; /* Adiciona um espaço entre a data e o próximo label */
  }
  ion-header {
    background-color: white; /* Altere para a cor desejada */
    box-shadow: none;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
}

.subtitulo {
    position: relative;
    text-align: center;
    color: gray;
    font-size: 1rem;
}

.titulo {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  position: relative; /* Defina a posição como relativa */
  z-index: 1; /* Garanta que o título esteja na frente da imagem */
  top: -100px; /* Ajuste a posição vertical conforme necessário */
}

.logo-login img {
  position: absolute;
  display: block;
  margin: 0 auto;
  padding: 0 !important;
  left: 45px;
  border: none;
  top: -50px; /* Remova a posição superior definida anteriormente */
  width: 80%; /* Ajuste a largura conforme necessário */
}


.back-button {
  position:relative;
  bottom: 20px; 
  left: -165px;
  width: 50px;
  height: 40px; 
  margin-top: -100px;
}
.linha-preta {
  border: none;
  border-bottom: 1px solid black;
  margin-top: 15px; /* Ajusta a margem acima da linha */
}

