<ion-content [fullscreen]="true" style="background-color: white">
  <ion-header>
    <div class="logo-login">
      <img src="../../assets/imgs/logo_2.png" />
    </div>
    <ion-title class="titulo">ClimaVia</ion-title>
    <h2 class="titulo2">
      No ClimaVia, você viaja com segurança e o conforto de saber o clima de sua
      rota.
    </h2>
    <h2 class="subtitulo">
      Realize o
      <a [routerLink]="['/login']" style="color: #cc9d37">login</a> para acessar
      o app.
    </h2>
  </ion-header>
</ion-content>
