
.custom-center {
  display: block;
  margin: 0 auto;
}

ion-title {
  text-align: center;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
          sans-serif;
}


