<ion-content [fullscreen]="true">
  <ion-header>
    <div class="logo-login">
      <img src="../../assets/imgs/logo_2.png" />
    </div>
    <h1 class="titulo">ClimaVia</h1>
    <h3 class="subtitulo">Crie sua conta e viaje com segurança.</h3>
  </ion-header>

  <form (ngSubmit)="register()">
    <div class="ion-padding">
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input
          type="text"
          class="input"
          placeholder="Nome Completo"
          [(ngModel)]="fullName"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input
          type="email"
          class="input"
          placeholder="E-mail"
          [(ngModel)]="email"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="key-outline"></ion-icon>
        <ion-input
          class="input"
          placeholder="Senha"
          type="password"
          [(ngModel)]="password"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon name="key-outline"></ion-icon>
        <ion-input
          class="input"
          placeholder="Confirme Sua Senha"
          type="password"
          [(ngModel)]="confirmPassword"
        ></ion-input>
      </ion-item>
      <ion-button class="entrar" expand="full" type="submit">Criar</ion-button>
    </div>
  </form>

  <ion-button
    class="back-button"
    routerLink="/login"
    fill="solid"
    color="warning"
    slot="fixed"
  >
    <ion-icon name="arrow-back" color="light"></ion-icon>
  </ion-button>
</ion-content>
